{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
<title>mobike</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link rel="stylesheet" href="{% static 'css/estilos.css' %}">
<link rel="stylesheet" href="{% static 'css/menu.css' %}">
<link rel="stylesheet" href="{% static 'css/bicicleta.css' %}">
<link rel="stylesheet" href="{% static 'css/font.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="icon" type="image/png" href="{% static 'imagenes/bicicleta.ico' %}" />
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/jquery-3.2.1.js' %}"></script>
</head>
<body>

<!-- MENU -->

<div class="topnav" id="myTopnav">
  <a href="{% url 'pagina_principal' %}" class="active">INICIO</a>
  <a href="{% url 'pagina_login' %}">INICIAR SESION</a>
  <a href="{% url 'pagina_estacionamiento' %}">ESTACIONAMIENTOS</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>

<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>


<!-- FIN MENU -->

<!-- Header -->
<div class="banner">
	    <img src="{% static 'imagenes/hero.jpg' %}" alt="" class="responsive">
	    <div class="contenedor">
	        <h2 class="banner_titulo">Let's Mobike!</h2>
	        <p class="banner_txt">La solución perfecta de primera y última milla</p>
	    </div>
</div>

<!-- CONTENIDO -->
 
 
<div class="wrap"> 
    <div class="bici-wrap">
       
        <div class="bici-table">
            <div class="bici-table-cont">
                <div class="bici-table-buy">
                    <div class="bici-table-head estandar-tittle">
                        <h2>mbike #1</h2>
                        <h3><sup>$</sup>200</h3>
                        <h4>cada 30 min</h4>
                    </div>
                    <ul class="bici-table-list">
                       <img src="{% static 'imagenes/mobike.jpg' %}" alt="" class="responsive">
                        <li><span>KM: 100km</span></li>
                        <li><span>Ult. Mantención: 17/12/2018</span></li>
                    </ul>
                    <a href="#" class="bici-table-button">Arrendar</a>
                </div>
            </div>
        </div>
        
        <div class="bici-table">
            <div class="bici-table-cont">
                <div class="bici-table-buy">
                    <div class="bici-table-head estandar-tittle">
                        <h2>mbike #2</h2>
                        <h3><sup>$</sup>200</h3>
                        <h4>cada 30 min</h4>
                    </div>
                    <ul class="bici-table-list">
                       <img src="{% static 'imagenes/mobike.jpg' %}" alt="" class="responsive">
                        <li><span>KM: 130km</span></li>
                        <li><span>Ult. Mantención: 20/12/2018</span></li>
                    </ul>
                    <a href="#" class="bici-table-button">Arrendar</a>
                </div>
            </div>
        </div>
        
        <div class="bici-table">
            <div class="bici-table-cont">
                <div class="bici-table-buy">
                    <div class="bici-table-head estandar-tittle">
                        <h2>mbike #3</h2>
                        <h3><sup>$</sup>200</h3>
                        <h4>cada 30 min</h4>
                    </div>
                    <ul class="bici-table-list">
                       <img src="{% static 'imagenes/mobike.jpg' %}" alt="" class="responsive">
                        <li><span>KM: 150km</span></li>
                        <li><span>Ult. Mantención: 22/12/2018</span></li>
                    </ul>
                    <a href="#" class="bici-table-button">Arrendar</a>
                </div>
            </div>
        </div>
        
    </div>
</div>




<!-- Footer -->
<div class="footer">
    <div class="social">
	        <a href="https://www.facebook.com/mobikecl" class="icon-facebook"></a>
	        <a href="https://www.instagram.com/mobikecl/" class="icon-instagram"></a>
	        <a href="https://www.linkedin.com/company/mobike" class="icon-linkedin"></a>
	        <a href="https://twitter.com/MobikeCL" class="icon-twitter"></a>
	        <a href="https://www.youtube.com/channel/UCXi2VQIAMWMSD3mk4a7DN4g" class="icon-youtube"></a>
	    </div>
	    <p class="copy">&copy; Prototipo Mobike</p>
	    <p>André Antonio Vásquez Duran</p>
</div>

</body>
</html>